@model caycanh.Models.NhaCungCap
@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Cây Cảnh</h2>

<table class="table">
    <tr>
        <th>Mã nhà cung cấp:</th>
        <td>@Model.MaNhaCungCap</td>
    </tr>
    <tr>
        <th>Tên nhà cung cấp:</th>
        <td>@Model.TenNhaCungCap</td>
    </tr>
    <tr>
        <th>Địa chỉ:</th>
        <td>@Model.DiaChi</td>
    </tr>
    
</table>

<p>
    @Html.ActionLink("Quay lại", "Index")
</p>


